.container {
  display: flex;
  flex-direction:column;
  height: 100%;
  background-color:#eee;
}

.header{
}

.main{
  flex: 1;
  overflow-y: hidden;
  height: calc(100% - 56px);
}

@media screen and (max-width: 767px) {
  .big {
      display: none !important;
  }
}
