.two{
  display: flex;
  @media screen and (max-width: 767px) {
      &>aside {
          display: none;
      }
  }
  &>aside {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
  }

  &>main {
      flex: 1;
      min-width: 0px;
  }
}

.mainScroll{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
